# Ignore configuration files that may contain sensitive information.
.htpasswd
sites/*/local.settings.php
santaclara.komodoproject
# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
