@import url("//hello.myfonts.net/count/260845");

@font-face {font-family: 'PFDinTextCondStd-Medium';src: url('../fonts/260845_0_0.eot');src: url('../fonts/260845_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/260845_0_0.woff') format('woff'),url('../fonts/260845_0_0.ttf') format('truetype');}

@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans-100.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSans-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSans-100.woff') format('woff'), /* Modern Browsers */
       url('../fonts/MuseoSans-100.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSans-100.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans-100Italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSans-100Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSans-100Italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/MuseoSans-100Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSans-100Italic.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans-300.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSans-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSans-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/MuseoSans-300.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSans-300.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans-300Italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSans-300Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSans-300Italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/MuseoSans-300Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSans-300Italic.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans_500.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSans_500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSans_500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/MuseoSans_500.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSans_500.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans_500_Italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSans_500_Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSans_500_Italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/MuseoSans_500_Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSans_500_Italic.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans_700.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSans_700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSans_700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/MuseoSans_700.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSans_700.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans-700Italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSans-700Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSans-700Italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/MuseoSans-700Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSans-700Italic.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans_900.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSans_900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSans_900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/MuseoSans_900.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSans_900.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans-900Italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSans-900Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSans-900Italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/MuseoSans-900Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSans-900Italic.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 900;
  font-style: italic;
}

	/* default weight */
@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans-300.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSans-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSans-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/MuseoSans-300.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSans-300.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}	/* default weight, italic */
@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans-300Italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSans-300Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSans-300Italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/MuseoSans-300Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSans-300Italic.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: italic;
}

@font-face {
	font-family: 'Kroeger';
	src: url('../fonts/Kroeger0756.eot');
	src: local('?'),
        url('../fonts/Kroeger0756.woff') format('woff'),
        url('../fonts/Kroeger0756.ttf') format('truetype'),
        url('../fonts/Kroeger0756.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
a, p, ul, ol, li, img, span, strong, em {
  font-size:104%;
}
body {
  font-size:13px;
  line-height:1.4em;
  font-family: "MuseoSans", Verdana, Helvetica, Arial, sans-serif;
  font-weight:500;
  font-style:normal;
  color:#333333;
}

a:link{
  color: #EA672A;
  text-decoration: none;
}
a:visited{
  color: #49394A;
}
a:hover {
  color: #a0a0a0;
  text-decoration: none;
}

a:active {
  color: #a0a0a0;
  text-decoration: none;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #5294c1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PFDinTextCondStd-Medium';
  font-weight: normal;
  font-style: normal;
  line-height:1.3em;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 18px;
}

/* Make site titles the same size if it's an H1 (home) or H2 (internal) */
h1.site-name,
h2.site-name {
  font-size: 36px;
}

/* Make it a bit smaller for block headers */
h2.block-title {
  font-size: 16px;
  margin: 0;	
}

h2.node-title {
  font-size: 28px;
  line-height:1em;
}

.view-provider-news h2.node-title,
.node-teaser h2.node-title,
.node-teaser h2.node-title a {
  font-size:21px;
  color:#666;
  margin:0 0 5px 0;
}
h3 {
  font-size: 18px;
  color: #555;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;  
  
}

ul ul,
ol ol {
  padding-top: 0.5em;
}
.view-newsletters .view-header{
  margin-bottom: 0;
}
#block-block-34 ul,
#block-block-40 .content ul,
#block-block-51 .content ul,
.view-newsletters .view-header ul,
.node ol,
.node ul,
.field-name-field-bullet-points .field-items{
  padding-left: 1.2em;
}
#block-block-34 ul li,
#block-block-40 .content ul li,
#block-block-51 .content ul li,
.view-newsletters .view-header ul li,
.node ol li,
.node ul li,
.field-name-field-bullet-points .field-items .field-item{
  margin:0 0 6px 0;
}
#block-block-34 ul li,
#block-block-40 .content ul li,
#block-block-51 .content ul li, 
.view-newsletters .view-header ul li, 
.node ul li,
.field-name-field-bullet-points .field-items .field-item{
  /*display: list-item;*/
  list-style-image:url('../images/backgrounds/bullet.png');
}
.node ul.inline,
.node ol.inline{
  padding-left: 0;
}
.node ul.links li {
  padding:0;
}
p, dl, hr, ol,
ul, pre, table, address, fieldset{
  margin-bottom: 14px;
}
h1 {
  margin-bottom:20px;
}
h2, h3, h4, h5, h6 {
  margin-bottom:11px;
}

p+h1,
p+h2,
p+h3, 
ul+h3{
	margin-top: 15px;
	}
	
dt, .admin h3 {
  font-size: 18px;
  margin: 0;
}

dd {
  padding-left: 10px;
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 20px;
}

.field-name-field-bullet-points .field-items{
  margin: 14px 0;
}
.field-name-field-related-info-items,
.field-name-field-resources-links{
  margin-top: 30px;
}
.field-name-field-page-subtitle-tagline-{
  margin-bottom: 20px;
}
.field-name-body h2+p,
.field-name-body h3+p{
  margin: 20px 0 14px 0;
}
.field-name-body h2{
  margin-bottom: 0;
}
.field-name-body h3{
  font-family: 'PFDinTextCondStd-Medium';
  font-weight: normal;
  font-size: 16px;
  color: #999999;
  margin-bottom: 0;
}